doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title

    // Favicon
    link(rel="shortcut icon", href="/favicon.svg", type="image/svg+xml")

    // Custom CSS link
    link(rel="stylesheet", href="/stylesheets/style.css")

    // Google Font link
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap", rel="stylesheet")

  body#top

    // HEADER
    header.header(data-header)

      .overlay(data-overlay)

      .header-top
        .container

          a.helpline-box(href="tel:+905338502322")

            .icon-box
              ion-icon(name="call-outline")

            .wrapper
              p.helpline-title For Further Inquires :
              p.helpline-number +905338502322

          .header-btn-group

            button.nav-open-btn(aria-label="Open Menu", data-nav-open-btn)
              ion-icon(name="menu-outline")

      .header-bottom
        .container

          ul.social-list

            li
              a.social-link(href="#")
                ion-icon(name="logo-facebook")

            li
              a.social-link(href="#")
                ion-icon(name="logo-twitter")

            li
              a.social-link(href="#")
                ion-icon(name="logo-youtube")

          nav.navbar(data-navbar)

            .navbar-top

              a.logo(href="#")
                img(src="logo.svg", alt="Tour Guide logo")

              button.nav-close-btn(aria-label="Close Menu", data-nav-close-btn)
                ion-icon(name="close-outline")

            ul.navbar-list

              li
                a.navbar-link(href="#home", data-nav-link) home

              li
                a.navbar-link(href="#destination", data-nav-link) destination

              li
                a.navbar-link(href="#gallery", data-nav-link) gallery

              li
                a.navbar-link(href="#", data-nav-link) about us

              li
                a.navbar-link(href="#contact", data-nav-link) contact us

          button.btn.btn-primary Book Now

    // MAIN CONTENT
    main
      article

        // HERO SECTION
        section.hero#home
          .container

            form.form#inputForm(action="/" method="POST" enctype="application/x-www-form-urlencoded") 
              input(type='text' name='input' placeholder='Search a landmark, town, city, country...', autocomplete='false', spellcheck='false')

              p.hero-text Not really sure where to go next? Well, we can recommend you, your next tour, just search country or city!

              div.btn-group
                button.btn.btn-primary(type='submit') Learn more
                button.btn.btn-secondary Book now


        if data && data.allBanners && data.allBanners.banners
         // GALLERY SECTION
        section.gallery#destination
          .container

            p.section-subtitle= place

            h2.h2.section-title Details

            p.section-text= data.paragraphs[1] + data.paragraphs[2]

            h3.section-text Destinations in #{place}
            ul.gallery-list
              each landmark in data.landmarks
                if landmark.name && landmark.nameHref
                  li.gallery-item
                    p.section-subtitle
                      a(href='https://en.wikivoyage.org/' + landmark.nameHref)= landmark.name
                    p.section-text= landmark.noteContent
               
        
          // POPULAR DESTINATION SECTION
          section.popular#gallery
            .container
              p.section-subtitle Gallery of #{place}
            
              h2.h2.section-title Popular Destinations

              p.section-text Popular Destinations Gallery of #{place}

              ul.popular-list
                each banner in data.allBanners.banners
                  li.popular-card
                    figure.card-img
                      img(src=banner.imgSrc, alt="Image", loading="lazy")

                    .card-content

                      .card-rating= place

                      h3.h3.card-title
                        a(href="#")= banner.caption

                      
        // CALL TO ACTION SECTION
        section.cta#contact
          .container

            .cta-content
              p.section-subtitle Call To Action

              h2.h2.section-title Ready For Unforgatable Travel. Remember Us!

              p.section-text Fusce hic augue velit wisi quibusdam pariatur, iusto primis, nec nemo, rutrum. Vestibulum cumque laudantium. Sit ornare mollitia tenetur, aptent.

            button.btn.btn-secondary Contact Us !

    // FOOTER
    footer.footer

      .footer-top
        .container

          .footer-brand

            a.logo(href="#")
              img(src="logo.svg", alt="Tour Guide logo")

            p.footer-text Urna ratione ante harum provident, eleifend, vulputate molestiae proin fringilla, praesentium magna conubia at perferendis, pretium, aenean aut ultrices.

          .footer-contact

            h4.contact-title Contact Us

            p.contact-text Feel free to contact and reach us !!

            ul

              li.contact-item
                ion-icon(name="call-outline")

                a.contact-link(href="tel:+905338502322") +905338502322

              li.contact-item
                ion-icon(name="mail-outline")

                a.contact-link(href="mailto:infotourguide@gmail.com") infotourguide@gmail.com

              li.contact-item
                ion-icon(name="location-outline")

                address 3146 Kantara, Cyprus

          .footer-form

            p.form-text Subscribe our newsletter for more update & news !!

            form.form-wrapper(action="")

              input(type="email", name="email", class="input-field", placeholder="Enter Your Email", required)

              button.btn.btn-secondary(type="submit") Subscribe

      .footer-bottom
        .container

          p.copyright &copy; 2023
            a(href="") Hilario J. Nengare. All rights reserved

          ul.footer-bottom-list

            li
              a.footer-bottom-link(href="#") Privacy Policy

            li
              a.footer-bottom-link(href="#") Term & Condition

            li
              a.footer-bottom-link(href="#") FAQ

  // GO TO TOP BUTTON
  a.go-top(href="#top", data-go-top)
    ion-icon(name="chevron-up-outline")

  // Custom JS link
  script(src="/javascripts/script.js")

  // Ionicon link
  script(type="module", src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
  script(nomodule, src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
