
doctype html
html(lang="en")

  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title

    // Favicon
    link(rel="shortcut icon", href="/favicon.svg", type="image/svg+xml")

    // Custom CSS link
    link(rel="stylesheet", href="/stylesheets/style.css")

    // Google Font link
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&family=Poppins:wght@400;500;600;700&display=swap", rel="stylesheet")

  body#top

    // NAVBAR
    header.navbar
      .container
        h1#place-title= title

    // FAVORITE PLACES SIDEBAR
    aside.favorite-places
      h2 Favorite Places
      ul#favorite-list


    // MAIN CONTENT
    main
      article

        // HERO SECTION
        section.hero#home
          .container
            table
              tr
                td
                  form.form#inputForm(action="/" method="POST" enctype="application/x-www-form-urlencoded") 
                    input(type='text' name='input' placeholder='Search a landmark, town, city, country...', autocomplete='false', spellcheck='false', style='border: 1px solid #ccc; padding-bottom: 10px; margin-bottom: 10px;')
                    button.btn.btn-primary(type='submit') Search
              tr
                td
                  if data
                    each paragraph in data.paragraphs
                      p= paragraph
                    if data.banners
                      each banner in data.banners
                        figure
                          img(src=banner.imgSrc, alt=banner.caption)
                          figcaption= banner.caption
                    if data.landmarks
                      each landmark in data.landmarks
                        if landmark.name
                          .landmark
                            h3
                              a(href=landmark.nameHref)= landmark.name
                              button.pin-btn(data-name=landmark.name) 📌
                            p= landmark.noteContent
                    if data.embassies
                      each embassy in data.embassies
                        .embassy
                          h3
                            a(href=embassy.nameHref)= embassy.name
                            button.pin-btn(data-name=embassy.name) 📌
                          p= embassy.noteContent
                    if data.airlines
                      each airline in data.airlines
                        .airline
                          h3= airline.name
                          p= airline.address
                          p= airline.phone

  // Custom JS link
  script(src="/javascripts/script.js")

  // Ionicon link
  script(type="module", src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js")
  script(nomodule, src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js")
button.sidebar-toggle(type='button') Toggle Sidebar
